{% extends 'base.html' %}

{% load static %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'js/gerar_senha.js' %}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gerar_senha.css' %}">
{% endblock %}

{% block content %}
<script>
    // Função para gerar uma senha aleatória
function gerarSenha() {
    var senha = "";
    var caracteres = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    var comprimento = 6; // Definindo o comprimento da senha

    for (var i = 0; i < comprimento; i++) {
        var randomIndex = Math.floor(Math.random() * caracteres.length);
        senha += caracteres.charAt(randomIndex);
    }

    // Preenche o campo de senha com a senha gerada
    document.getElementById("senha").value = senha;

    // Preenche o campo de data e hora com o valor atual
    var agora = new Date();
    var dataHoraFormatada = agora.toLocaleString();
    document.getElementById("dataHora").value = dataHoraFormatada;
}

// Função para limpar os campos do formulário
function limparCampos() {
    document.getElementById("senha").value = "";
    document.getElementById("dataHora").value = "";
    document.getElementById("aviso").value = "Se sua senha for chamada e você não estiver no local, uma nova senha deverá ser emitida.";
}

</script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card">
            <div class="card-header text-center">
                <h3>Gerador de Senhas de Espera</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="senha">Senha Gerada:</label>
                        <input type="text" class="form-control" id="senha" readonly>
                        
                    </div>
                    <div class="form-group">
                        <label for="dataHora">Data e Hora:</label>
                        <input type="text" class="form-control" id="dataHora" readonly>
                    </div>
                    <div class="form-group">
                        <label for="local">Exibido em:</label>
                        <input type="text" class="form-control" id="local" value="Teresina/PI" readonly>
                    </div>
                    <div class="form-group">
                        <label for="aviso">Aviso:</label>
                        <textarea class="form-control" id="aviso" rows="3" readonly>Se sua senha for chamada e você não estiver no local, uma nova senha deverá ser emitida.</textarea>
                    </div>
                    <button type="button" class="btn btn-custom" onclick="gerarSenha()">Gerar Senha</button>
                    <button type="button" class="btn btn-secondary" onclick="limparCampos()">Limpar</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}